/* :root {
  --footer-height: 140px;
} */

footer {
  height: var(--footer-height);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* margin: 0 0 120px 0; */
  margin-bottom: var(--footer-height);
}
